In [ ]:
#  Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) 
#.  from https://www.motor1.com/
#        This task will be done in following steps:
#          1. First get the webpagehttps://www.motor1.com/
#          2. Then You have to click on the List option from Dropdown menu on left side. 
#          3. Then click on 50 most expensive cars in the world..
#          4. Then scrap the mentioned data and make the dataframe.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
web='https://chromedriver.chromium.org/downloads'

In [3]:
driver=webdriver.Chrome(r"web")

In [4]:
driver.get("https://www.motor1.com/")

In [5]:
s_1=driver.find_element(By.XPATH,'//a[@href="/features/"]')
s_1.click()

In [6]:
s_2=driver.find_element(By.XPATH,'//a[@href="/features/category/lists/"]')
s_2.click()

In [7]:
s_3=driver.find_element(By.XPATH,'//a[@href="/features/308149/most-expensive-new-cars-ever/"]')
s_3.click()

In [8]:
name = []

In [9]:
name_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in name_tags:
    nt=(i.text)
    name.append(nt)

In [10]:
len(name)

51

In [12]:
prices = []

In [13]:
price_tag=driver.find_elements(By.XPATH,"//strong")
for i in price_tag:
    prices.append(i.text)

In [15]:
len(prices)

51

In [17]:
df=pd.DataFrame({'CAR':name,'PRICE':prices})
df

                                 CAR                        PRICE
0                      De Tomaso P72          Price: $1.3 Million
1                  Ferrari LaFerrari          Price: $1.4 Million
2                      Pagani Huayra          Price: $1.4 Million
3                       McLaren Elva
4                        Czinger 21C          Price: $1.7 Million
5                      Ferrari Monza          Price: $1.7 Million
6                 Gordon Murray T.33          Price: $1.7 Million
7                  Koenigsegg Gemera          Price: $1.7 Million
8                        Zenvo TSR-S          Price: $1.7 Million
9                 Hennessey Venom F5          Price: $1.7 Million
10                   Bentley Bacalar          Price: $1.8 Million
11     Hispano Suiza Carmen Boulogne          Price: $1.9 Million
12            Bentley Mulliner Batur          Price: $1.9 Million
13                      Deus Vayanne          Price: $2.0 Million
14                       SSC Tuatara          Price: $2.0 Million
15                       Lotus Evija         Price: $2.0 Million*
16               Aston Martin Vulcan          Price: $2.1 Million
17                        Delage D12          Price: $2.3 Million
18                 McLaren Speedtail          Price: $2.3 Million
19                      Rimac Nevera          Price: $2.3 Million
20                     Pagani Utopia          Price: $2.4 Million
21              Pininfarina Battista          Price: $2.5 Million
22                 Ferrari FXX K Evo          Price: $2.5 Million
23                Gordon Murray T.50          Price: $2.6 Million
24              Lamborghini Countach          Price: $2.6 Million
25          Mercedes-AMG Project One          Price: $2.6 Million
26               Aston Martin Victor          Price: $2.7 Million
27       Hennessey Venom F5 Roadster          Price: $3.0 Million
28                  Koenigsegg Jesko                 $3.0 Million
29             Aston Martin Valkyrie          Price: $3.0 Million
30         W Motors Lykan Hypersport          Price: $3.2 Million
31                     McLaren Solus          Price: $3.4 Million
32         Pagani Huayra Roadster BC                 $3.5 Million
33          Bugatti Chiron Pur Sport          Price: $3.5 Million
34                  Lamborghini Sian          Price: $3.6 Million
35                  Koenigsegg CC850          Price: $3.6 million
36   Bugatti Chiron Super Sport 300+          Price: $3.7 Million
37                Lamborghini Veneno          Price: $3.9 Million
38                    Bugatti Bolide          Price: $4.5 Million
39                   Bugatti Mistral          Price: $4.7 Million
40               Pagani Huayra Imola          Price: $5.0 Million
41                      Bugatti Divo          Price: $5.4 Million
42               SP Automotive Chaos          Price: $5.8 Million
43                  Pagani Codalunga          Price: $6.4 Million
44          Mercedes-Maybach Exelero          Price: $7.4 Million
45                Bugatti Centodieci          Price: $8.0 Million
46           Bugatti Chiron Profilée          Price: $9.0 Million
47              Rolls-Royce Sweptail         Price: $10.8 Million
48          Bugatti La Voiture Noire         Price: $12.8 Million
49            Rolls-Royce Boat Tail*         Price: $13.4 Million
50  Most Expensive Cars In The World  Price: $28.0 Million (est.)