In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
web='https://chromedriver.chromium.org/downloads'

In [3]:
driver=webdriver.Chrome(r"web")

In [4]:
driver.get("https://www.jagranjosh.com/")

In [5]:
gk=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
gk.click()

In [7]:
ps=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
ps.click()

In [10]:
name = []
names=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in names:
    name.append(i.text)

In [11]:
df=pd.DataFrame({'NAME':name})
df

                           NAME
0             Jawahar Lal Nehru
1     Gulzarilal Nanda (Acting)
2           Lal Bahadur Shastri
3   Gulzari Lal Nanda  (Acting)
4                 Indira Gandhi
5                 Morarji Desai
6                  Charan Singh
7                 Indira Gandhi
8                  Rajiv Gandhi
9                   V. P. Singh
10              Chandra Shekhar
11          P. V. Narasimha Rao
12         Atal Bihari Vajpayee
13             H. D. Deve Gowda
14           Inder Kumar Gujral
15         Atal Bihari Vajpayee
16               Manmohan Singh
17                Narendra Modi

In [14]:
dob = []
dobs=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in dobs:
    dob.append(i.text)

In [16]:
df=pd.DataFrame({'BORN_DEATH':dob})
df

      BORN_DEATH
0    (1889–1964)
1    (1898-1998)
2    (1904–1966)
3    (1898-1998)
4    (1917–1984)
5    (1896–1995)
6    (1902–1987)
7    (1917–1984)
8    (1944–1991)
9    (1931–2008)
10   (1927–2007)
11   (1921–2004)
12  (1924- 2018)
13   (born 1933)
14   (1919–2012)
15   (1924-2018)
16   (born 1932)
17   (born 1950)

In [17]:
# too = //div[@class="table-box"]/table/tbody/tr/td[4]/p[1]/span
# Remark = //div[@class="table-box"]/table/tbody/tr/td[5]/p

In [18]:
too = []
re = []

In [19]:
toos=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]/p[1]/span')
for i in toos:
    too.append(i.text)
    
rem=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in rem:
    re.append(i.text)

In [22]:
len(too),len(re)

(17, 18)

In [29]:
df=pd.DataFrame({'NAME':name[0:17],'BORN_DEATH':dob[0:17],'TOO_OF_OFFICE':too[0:17],'REMARK':re[0:17]})
df

,NAME,BORN_DEATH,TOO_OF_OFFICE,REMARK
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),24 January 1966 to 24 March 1977,-
4,Indira Gandhi,(1917–1984),24 March 1977 to 28 July 1979,First female Prime Minister of India
5,Morarji Desai,(1896–1995),28 July 1979 to 14 January 1980,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),14 January 1980 to 31 October 1984,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),31 October 1984 to 2 December 1989,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),2 December 1989 to 10 November 1990,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),10 November 1990 to 21 June 1991,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),21 June 1991 to 16 May 1996,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),16 May 1996 to 1 June 1996,First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),1 June 1996 to 21 April 1997,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),21 April 1997 to 19 March 1998,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),19 March 1998 to 22 May 2004,------
15,Atal Bihari Vajpayee,(1924-2018),22 May 2004 to 26 May 2014,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),26 May 2014 - Present,First Sikh PM