In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
web='https://chromedriver.chromium.org/downloads'

In [3]:
driver=webdriver.Chrome(r"web")

In [4]:
driver.get("https://www.forbes.com")
time.sleep(3)

In [5]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/nav/div[1]/div/div/div')
search.click()

/html/body/div[1]/header/nav/div[1]/div/div/div/svg

In [6]:
sw=driver.find_element(By.XPATH,'/html/body/div[1]/header/nav/div[1]/div/div/div[2]/ul/li[1]/div[1]/a')
sw.click()

In [7]:
world_billionaires = driver.find_element(By.XPATH,'/html/body/div[1]/main/div/section/section[1]/div/div/div[1]/div/div[1]/div[1]/div[2]/a/h2')
world_billionaires.click()

In [8]:
rank = []
rank_tag=driver.find_elements(By.XPATH,'//div[@class="rank"]')
for i in rank_tag[0:20]:
    rt=(i.text)
    rank.append(rt)

In [9]:
name = []
name_tag=driver.find_elements(By.XPATH,'//div[@class="personName"]')
for i in name_tag[0:20]:
    na=(i.text)
    name.append(na)

In [10]:
net = []
net_tag=driver.find_elements(By.XPATH,'//div[@class="netWorth"]')
for i in net_tag[0:20]:
    nets=(i.text)
    net.append(nets)

In [11]:
age = []
country = []
source = []
industries = []

In [12]:
age_tag=driver.find_elements(By.XPATH,'//div[@class="age"]')
for i in age_tag[0:20]:
    at=(i.text)
    age.append(at)

In [13]:
country_tag=driver.find_elements(By.XPATH,'//div[@class="countryOfCitizenship"]')
for i in country_tag[0:20]:
    ct=(i.text)
    country.append(ct)
source_tag=driver.find_elements(By.XPATH,'//span[@class="source-text"]')
for i in source_tag[0:20]:
    st=(i.text)
    source.append(st)
ind_tag=driver.find_elements(By.XPATH,'//div[@class="category"]')
for i in ind_tag[0:20]:
    it=(i.text)
    industries.append(it)

In [14]:
len(rank),len(name),len(age),len(country),len(source),len(industries)

(20, 20, 20, 20, 20, 20)

In [15]:
df=pd.DataFrame({'RANKING':rank,'NAME':name,'AGE':age,'COUNTRY':country,'SOURCE':source,'INDUSTRY':industries})
df

,RANKING,NAME,AGE,COUNTRY,SOURCE,INDUSTRY
0,1.,Elon Musk,50,United States,"Tesla, SpaceX",Automotive
1,2.,Jeff Bezos,58,United States,Amazon,Technology
2,3.,Bernard Arnault & family,73,France,LVMH,Fashion & Retail
3,4.,Bill Gates,66,United States,Microsoft,Technology
4,5.,Warren Buffett,91,United States,Berkshire Hathaway,Finance & Investments
5,6.,Larry Page,49,United States,Google,Technology
6,7.,Sergey Brin,48,United States,Google,Technology
7,8.,Larry Ellison,77,United States,software,Technology
8,9.,Steve Ballmer,66,United States,Microsoft,Technology
9,10.,Mukesh Ambani,64,India,diversified,Diversified
10,11.,Gautam Adani,59,India,"infrastructure, commodities",Diversified
11,12.,Michael Bloomberg,80,United States,Bloomberg LP,Media & Entertainment
12,13.,Carlos Slim Helu & family,82,Mexico,telecom,Telecom
13,14.,Francoise Bettencourt Meyers & family,68,France,L'Or√©al,Fashion & Retail
14,15.,Mark Zuckerberg,37,United States,Facebook,Technology
15,16.,Jim Walton,73,United States,Walmart,Fashion & Retail
16,17.,Zhong Shanshan,67,China,"beverages, pharmaceuticals",Food & Beverage
17,18.,Alice Walton,72,United States,Walmart,Fashion & Retail
18,19.,Rob Walton,77,United States,Walmart,Fashion & Retail
19,19.,Changpeng Zhao,44,Canada,cryptocurrency exchange,Finance & Investments

In [16]:
driver.close()